@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.widePage {
  padding: 5% 0 8%;
  margin: 0 auto;
  max-width: 700px;
}

.narrowPage {
  padding: 7% 0 8%;
  margin: 0 auto;
  max-width: 400px;
}

th, td{
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #5377ad;
  color: white;
}

.card {
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 0 20 0;
  padding: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

button.flat {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

button.popup {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #53a6ef;
  width: 100%;
  border: 0;
  padding: 15px 0px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.formInput, form input, form textarea {
  resize: vertical;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.formArea2 {
  resize: vertical;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.formArea {
  resize: vertical;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

p {
  padding: 0;
  margin: 0;
}

button:hover,button:active,button:focus {
  background: #66c5f4;
}

.split-para {
   display:block;
   margin:10px;
 }

.split-para span {
  display:block;
  float:right;
  text-align: right;
  width:50%;
  margin-left:10px;
}

.menu {
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;

  border-radius: 4px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.menu i {
  padding: 6px;
}

.menu p {
  width: 90px;
  font-size: 35;
  display:inline-block;
  padding: 6px;
  text-align: center;
  margin:auto;
}

.menu i:hover {
  background: #66c5f4;
  cursor: pointer;
}
body {
  background: #2a4a7a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2a4a7a, #5377ad);
  background: -moz-linear-gradient(to left, #2a4a7a, #5377ad);
  background: -o-linear-gradient(to left, #2a4a7a, #5377ad);
  background: linear-gradient(to left, #2a4a7a, #5377ad);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-blue {color: rgba(83,166,239, 0.54)}
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
